:root e
    --container-height: 25px; /* Height of each container element */
    --stack-height: 500px;
    --animation-duration: 2s; /* Duration of the moveToStack animation */
}

  body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #f0f0f0;
}

.footer {
    display: flex;
    width: 100%;
    background-color: #e0e0e0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    gap: 10px; /* Adds space between all label elements */
    grid-column: 1 / -1; /* Ensures the footer spans the full width of the grid */
    grid-row: 6; /* Places the footer in the correct row */
}

.label {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-auto-rows: minmax(var(--container-height), auto);*/
    gap: 10px; /* Add gap for spacing if necessary */
    align-items: start;
}

.stack-container {
  display: flex;
  grid-column: 2 / span 1; /* Ensure it's placed in the 2nd column */
  grid-row: 2 / span 3; /* Ensure it spans 3 rows if needed */
  flex-direction: column-reverse;
  grid-auto-rows: minmax(var(--container-height), auto);
  align-items: start;
  width: 160px;
  height: var(--stack-height); /* Dynamically adjust stack height */
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
}

.alt-stack-container {
    display: flex;
    grid-column: 3 / span 1;
    grid-row: 2 / span 3; /* Adjust row span if needed */
    flex-direction: column-reverse;
    width: 160px;
    height: var(--stack-height); /* Dynamically adjust stack height */
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
    display: none;
}

.stack-item {
    display: none;
    width: 160px;
    height: var(--container-height);
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease; /*  smooth opacity transition */
}

.stack-item.appear {
    display: flex;
    animation: stackAppear var(--animation-duration) forwards;
}

.step{
    display: flex;
    width: 160px; /* Consistent width */
    height: var(--container-height); /* Consistent height */
    border: 2px solid #333;
    border-radius: 5px;
    margin: 0; /* Remove margin to avoid gaps */
    padding: 0;
    background-color: #fff;
    box-sizing: border-box; /* Include padding and border in width and height */
    justify-content: center;
    align-items: center;
    animation: moveToStack var(--animation-duration) forwards;
    z-index: 2;
}


@keyframes moveToStack {
    0% {
        opacity: 1;
        transform: translateY(var(--operation-x)) translateX(var(--operation-y));
    }
    20% {
        opacity: 1;
        transform: translateY(-60vh) translateX(0); /* Move up */
    }
    50% {
        opacity: 1;
        transform: translateY(-60vh) translateX(calc(var(--stack-x) - 80px)); /* Move to the right towards the stack */
    }
    80% {
        opacity: 1;
        transform: translateY(calc(var(--stack-y) - var(--container-height) * var(--index))) translateX(calc(var(--stack-x) - 80px)); /* Move down into the stack */
    }
    100% {
        opacity: 0;
        transform: translateY(calc(var(--stack-y) - var(--container-height) * var(--index))) translateX(calc(var(--stack-x) - 80px)); /* Fade out */
    }
}

@keyframes stackAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.operation-result {
    grid-column: 1 / span 1; /* Align with the stack */
    grid-row: 3; /* Move to the base level of the stack */
    width: 100%;
    align-self: end; /* Align to the bottom of the row */
}


.result-label {
    grid-column: 1 / 2; /* Adjust this to ensure it's in the first column */
    grid-row: 4; /* Place it in the first row */
    background-color: #ffcc00;
    padding: 10px;
    font-weight: bold;
    width: 80%; /* Ensure it spans the width needed */
}

.script-execution {
    grid-column: 1 / -1; /* Span the full width of the grid */
    grid-row: 5; /* Move to the row immediately below the stack */
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.running-script {
    display: flex;
    flex-direction: row;
    width: auto;
    height: var(--container-height); /* Dynamically adjust stack height */
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
    padding: 3px;
    margin-left 10%;
  }

.controls {
    /*justify-content: center;*/
    grid-column: 1 / -1;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    background-color: #e0e0e0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    grid-column: 1 / -1; 
    grid-row: 7;
}

#opcodeInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #f0f0f0;
}

/* Type-specific styles */
.constants {
    background-color: #ffcc00;
}

.flow-control {
    background-color: #ff6666;
}

.stack-opcode {
}

.splice {
    background-color: #cc99ff;
}

.bitwise {
    background-color: #99cc00;
}

.arithmetic {
    background-color: #ff9933;
}

.crypto {
    background-color: #339966;
}

.locktime {
    background-color: #ff99cc;
}

.keys {
    background-color: #3366cc;
}
