:root {
    --container-height: 25px; /* Height of each container element */
    --stack-height: 500px;
    --base-y: calc(50vh - 100px); /* Base Y position for the first element */
    --x-position: calc(40vw - 50%); /* X position of the stack, adjusted for width */
    --animation-duration: 2s; /* Duration of the moveToStack animation */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f0f0f0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    width: 100%;
    background-color: #e0e0e0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
}

.label {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}

.stack-label {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    font-size: 14px;
    width: 100%; /* Make the label take the full width available */
}

.stack-container + .stack-label,
.alt-stack-container + .stack-label {
    position: absolute;
    top: 100%; /* Position the label directly below the stack */
    left: 50%;
    transform: translateX(-50%); /* Center the label horizontally */
}

.content {
    border: 1px  #000;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(100% - 150px); /* Ensure the content fills the remaining space */
}

.stack-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align stack and label */
}
.stack-container {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 160px;
  height: var(--stack-height); /* Dynamically adjust stack height */
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
}

.alt-stack-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    height: var(--stack-height); /* Dynamically adjust stack height */
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
    display: none;
}

.step{
    width: 160px; /* Consistent width */
    height: var(--container-height); /* Consistent height */
    border: 2px solid #333;
    border-radius: 5px;
    margin: 0; /* Remove margin to avoid gaps */
    padding: 0;
    background-color: #fff;
    box-sizing: border-box; /* Include padding and border in width and height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.operation-result {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.result-label {
    background-color: #ffcc00;
    padding: 10px;
    font-weight: bold;
    margin-left: 10%;
}

.script-execution {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.running-script {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    height: calc(var(container-height/2));
    margin: 1px;
    /*margin-left: 10%;*/
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    background-color: #e0e0e0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#opcodeInput {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #f0f0f0;
}

/* Type-specific styles */
.constants {
    background-color: #ffcc00;
}

.flow-control {
    background-color: #ff6666;
}

.stack-opcode {
    background-color: #66b3ff;
}

.splice {
    background-color: #cc99ff;
}

.bitwise {
    background-color: #99cc00;
}

.arithmetic {
    background-color: #ff9933;
}

.crypto {
    background-color: #339966;
}

.locktime {
    background-color: #ff99cc;
}

.keys {
    background-color: #3366cc;
}

